{% extends "blogs/base.html" %}


{% block page_header %}
  
  {% if user.userinfo.following %}
    <h1 class="text-dark">
    following
    </h1>
  {% else %}
    <h1 class="text-dark">
    Your following list is empty
    </h1>
  {% endif %}

{% endblock page_header %}


{% block content %}

  {% if user.userinfo.following %}
    <div>
      <h2 class="mb-5 text-dark">people whome you follow :</h2>
    </div>
  {% endif %}

  {% for following in user.userinfo.following %}
  <div class="list-group list-group-flush">
    <a href="{% url 'users:user_info' following %}" class="list-group-item list-group-item-secondary list-group-item-action border-bottom border-dark">
      <h3 class="text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif;">{{following}}</h3>
    </a>
  </div>
  {% empty %}

  {% endfor %}


{% endblock content %}