{% extends "blogs/base.html" %}


{% block page_header %}
  
  {% if followers %}
    <h1 class="text-dark">
    followers
    </h1>
  {% else %}
    <h1 class="text-success">
    Your followers list is empty
    </h1>
  {% endif %}

{% endblock page_header %}


{% block content %}

  {% if followers %}
  
    <!--Check to see wich sentece should be desplayed, with (you) or (username)-->
    {% if user.username == request.user.username %}
      <div>
        <h2 class="mb-5 text-dark">people who follow you :</h2>
      </div>
    {% else %}
    <div>
      <h2 class="mb-5 text-dark">people who follow {{user.username}} :</h2>
    </div>
    {% endif %}

  {% endif %}

  {% for follower in followers %}
  <div class="list-group list-group-flush">
    <a href="{% url 'users:user_info' follower %}" class="list-group-item list-group-item-secondary list-group-item-action border-bottom border-dark">
      <h3 class="text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif;">- 
        
        {% if follower.userinfo.picture.name == 'False' %}
          <img style="border-radius: 50%;" src="{{ '/media/images/default_pic.png' }}" alt="{{ follower.username }}_pic" width="30" height="30">
              
          {% else %}
          <img style="border-radius: 50%;" src="{{ follower.userinfo.picture.url }}" alt="{{ follower.username }}_pic" width="30" height="30">
                
          {% endif %}

      {{follower}}
    </h3>
    </a>
  </div>
  {% empty %}

  {% endfor %}


{% endblock content %}