{% extends "blogs/base.html" %}


{% block page_header %}
  
  {% if user.userinfo.followers %}
    <h1 class="text-dark">
    followers
    </h1>
  {% else %}
    <h1 class="text-success">
    Your followers list is empty
    </h1>
  {% endif %}

{% endblock page_header %}


{% block content %}

  {% if user.userinfo.followers %}
    <div>
      <h2 class="mb-5 text-dark">people who follow you :</h2>
    </div>
  {% endif %}

  {% for follower in user.userinfo.followers %}
  <div class="list-group list-group-flush">
    <a href="{% url 'users:user_info' follower %}" class="list-group-item list-group-item-secondary list-group-item-action border-bottom border-dark">
      <h3 class="text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif;">{{follower}}</h3>
    </a>
  </div>
  {% empty %}

  {% endfor %}


{% endblock content %}