{% extends "blogs/base.html" %}


{% block page_header %}

    <!--Showing user photo , number of followers and following, follow button-->
    <h1 class="mb-3 text-center"> 
    {{ requested_user.username}}
    {% if requested_user.userinfo.picture.name == 'False' %}
      
      {% load static %}
      <img style="border-radius: 50%;" src="{% static '/users/default_images/default_pic.png' %}" alt="{{ requested_user.user.username }}_pic" width="60" height="60">
    
    {% else %}
      <img style="border-radius: 50%;" src="{{ requested_user.userinfo.picture.url }}" alt="{{ requested_user.username }}_pic" width="60" height="60">
      
    {% endif %}
    </h1>
    <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;" class="text-successsmall text-success text-center"><small>{{ join_message }}</small><h3>
    <br></br> 

    <div class="text-center">
      <h3>
        {{ requested_user.userinfo.bio_text }}
      </h3>
    </div>

    <br></br>
    <div class="d-flex justify-content-center">
      <a class="btn btn-info" href="{% url 'users:followers' requested_user.username %}">Followers {{requested_user.userinfo.followers_number}}</a>&nbsp;
      <a class="btn btn-info" href="{% url 'users:following' requested_user.username %}">Following {{requested_user.userinfo.following_number}}</a>&nbsp;
      
    
      {% if request.user.username in requested_user.userinfo.followers %}
        <a class="btn btn-success" href="{% url 'users:follow_unfollow' requested_user.username %}">Unfollow</a>
      {% else %}
        <a class="btn btn-success" href="{% url 'users:follow_unfollow' requested_user.username %}">Follow</a>
      {% endif %}
    </div>
    {% endblock page_header %}


{% block content %}


  {% if posts %}
    <div>
      <h2 class="mb-5 text-success" style="font-family: Georgia, 'Times New Roman', Times, serif;">{{ requested_user.username }}'s posts</h2>
    </div>
  {% endif %}


  {% for post in posts %}
    <div class="card mb-4 border-dark border-bottom">
      
      <div class="card-body bg-secondary">
        <!--check to see if post has title or not-->
        {% if post.title %}
          <h4><a class="text-light" href="{% url 'blogs:full_post' post.id %}">- {{ post.title }}</a></h4>
        {% else %}
          <h4><a class="btn btn-outline-info text-light" href="{% url 'blogs:full_post' post.id %}">full post &rarr;</a></h4>
        {% endif %}
        <br></br>

        <!--Post text-->
        <div dir="auto" id="card text"> 
          <h6 class="text-light mb-5{{ post.textlinebreaks }}">{{ post.text }}</h6>
        </div> 
        
      <div class="card-footer border-info bg-secondary">
        <div class="text-white text-end">
            {{ post.owner }} {{ post.date_added }} 
        </div>
      </div> 
      </div>
    </div>

    {% if post.id == first_post_id %}

      {% else %}
        <div class="mb-2 border-info border-bottom"></div>
        <div class="mb-4"></div>
        {% endif %}

  {% empty %}
  <h2 class="text-info">
  {{ requested_user.username}} hasn't added any post .
  </h2>   
  {% endfor %}


{% endblock content %}  