{% extends "blogs/base.html" %}


{% block page_header %}

    <h1 class="mb-3 text-center"> 
    {{ requested_user.username}}
    {% if requested_user.userinfo.picture.name == 'False' %}
      <img style="border-radius: 50%;" src="{{ '/media/images/default_pic.png' }}" alt="{{ requested_user.user.username }}_pic" width="60" height="60">
    
    {% else %}
      <img style="border-radius: 50%;" src="{{ requested_user.userinfo.picture.url }}" alt="{{ requested_user.username }}_pic" width="60" height="60">
      
    {% endif %}
    </h1>
    <h3 class="text-successsmall text-center"><small>{{ join_message }}</small><h3>
    <br></br> 
    <a class="btn btn-primary" href="{% url 'users:followers' requested_user.username %}">Followers {{requested_user.userinfo.followers_number}}</a>
    <a class="btn btn-primary" href="{% url 'users:following' requested_user.username %}">Following {{requested_user.userinfo.following_number}}</a>
    
  
    {% if request.user.username in requested_user.userinfo.followers %}
    <a class="btn btn-dark" href="{% url 'users:follow_unfollow' requested_user.username %}">Unfollow</a>
    {% else %}
    <a class="btn btn-dark" href="{% url 'users:follow_unfollow' requested_user.username %}">Follow</a>
    {% endif %}

    {% endblock page_header %}


{% block content %}


  {% if posts %}
    <div>
      <h2 class="mb-5">{{ requested_user.username }}'s posts</h2>
    </div>
  {% endif %}


  {% for post in posts %}
    <div class="card mb-4 border-dark border-bottom">
      
      <div class="card-body bg-secondary">
        <h4 class="text-light- {{ post.title }}">{{ post.title }}</h4>
        <br></br>
        <h6 class="text-light mb-5{{ post.textlinebreaks }}">{{ post.text }}</h6>
      
      <div class="card-footer border-info bg-secondary">
        <div class="text-white text-end">
            {{ post.owner }} {{ post.date_added }} 
        </div>
      </div>
      
      </div>
    </div>

    <div class="mb-2 border-info border-bottom"></div>
    <div class="mb-4"></div> 
  
  {% empty %}
  <h2 class="text-info">
  {{ requested_user.username}} hasn't added any post .
  </h2>   
  {% endfor %}


{% endblock content %}  