{% extends "blogs/base.html" %}

{% block content %}

  {% if user.is_authenticated %}
    <p>Hello , {{ user.username }} !</p>
  {% else %}
    <p>Welcome to the Blog!</p>
  {% endif %}
      
  <ul>
   <p>Posts :</p>

   {% for post in posts %}
     <li>
      <p>{{ post.date_added|date:'M d, Y H:i' }}</p>
      <p>- {{ post.title }}</p>
      <p>{{ post.text|linebreaks }}</p>
      <p>
      <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
      </p>
   {% empty %}
     <li> There hasn't been any post yet!<li>   
   {% endfor %}
  </ul>

{% endblock content %}