{% extends "blogs/base.html" %}


{% block page_header %}
  
  {% if user.userinfo.following %}
    <h1 class="text-success">
    following
    </h1>
  {% else %}
    <h1 class="text-success">
    Your following list is empty
    </h1>
  {% endif %}

{% endblock page_header %}


{% block content %}

  {% if user.userinfo.following %}
    <div>
      <h2 class="mb-5 text-info">people whome you follow :</h2>
    </div>
  {% endif %}

  {% for following in user.userinfo.following %}
    <div class="card mb-4 border-dark border-bottom">
      
      <div class="card-body bg-secondary">
        <h4><a class="text-light" href="#">- {{ following }}</a></h4>
      </div>

    </div>
    <div class="mb-2 border-info border-bottom"></div>
    <div class="mb-4"></div> 
  
  {% empty %}

  {% endfor %}


{% endblock content %}