{% extends "blogs/base.html" %}

{% load bootstrap5 %}

{% block page_header %}
  
  <style>
    h1,form{
    color: green;
    font-family: Gerogia;
  }

  </style>
  
  <h1>Log in</h1>
{% endblock page_header %}

{% block content %}
  
  <form class="form" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button class="btn btn-info" name="sumbmit" >Login</button>    
    {% endbuttons %}

    <input type="hidden" name="next" 
    value="{% url 'blogs:index' %}" />
  
  </form> 
{% endblock content %}